#LoginForm {
  text-align: center;
  form {
    width: 100%;
    .login_title {
      padding-top: 20px;
      padding-bottom: 30px;
      font-weight: bold;
      font-size: 20px;
    }
    .login_error {
      font-size: 14px;
      padding-bottom: 20px;
      color: red;
    }
    .login_input_area {
      .input_form {
        width: 76%;
        color: rgb(38, 50, 56);
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1px;
        background: rgba(136, 126, 126, 0.04);
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        outline: none;
        box-sizing: border-box;
        border: 2px solid rgba(0, 0, 0, 0.02);
        text-align: center;
        margin-bottom: 30px;
        font-family: 'Ubuntu', sans-serif;
      }
      .input_form:focus {
        border: 2px solid rgba(0, 0, 0, 0.18) !important;
      }
      .login_btn {
        border-radius: 20px !important;
      }
    }
  }
}